[config] # DO NOT remove this (first) line!

####
# ONLY change AFTER the '=' and LEAVE A SPACE after the '='
####

#Your *Gmail* Account:
username = CHANGE_ME@gmail.com

# Your *Gmail* Password:
password = ExamplePassword123

# Email address to send the notifications to:
recipient = CHANGE@ME.com


 #----------------------------------------
#| 'PiBell' written by Sam with help from |
#| Tom and other sources listed on the    |
#| official OGPC page at:                 |
#| http://ogpc.com.au/Projects/PiBell/    |
 #----------------------------------------

#*****************************************
#*        !!! IMPORTANT NOTE !!!         *
#*                                       *
#* Any information typed above will be   *
#* stored on YOUR system UN-ENCRYPTED!   *
#*                                       *
#* It will not be sent off  to or        *
#* stored by the code. Although, if      * 
#* someone finds this file, they WILL    *
#* be able to read your details.         *
#*****************************************
                                         
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#~            * Disclaimer *             ~
#~                                       ~
#~ The 'PiBell' code and instructions    ~ 
#~ are provided as-is with no warranty   ~
#~ or guarantees.                        ~
#~                                       ~
#~ OGPC or the writer (Sam) WILL NOT be  ~
#~ responsible or liable for ANY damages ~
#~ to your property or yourself.         ~
#~                                       ~
#~      USE ONLY AT YOUR OWN RISK!       ~
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~